@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: Open Sans, sans-serif;
}

nav {
    position: relative;
}
nav label {
    font-size: 2em;
    cursor: pointer;
    display: none;
    padding: 5px;
    width: 30px;
}
#toggle {
    display: none;
}
#nav-bar {
    display: none;
}
@media (max-width: 600px) {
    nav label {
        display: block;
    }
}
#toggle:checked + #nav-bar {
    display: block;
}