@import url('https://fonts.googleapis.com/css?family=Open+Sans|Caveat:700');

* {
    font-family: Open Sans, sans-serif;
}
body {
    margin: 0;
}
/*
    NAV BAR TOGGLE FUNCTIONALITY
*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
}
nav label {
    font-size: 2.5em;
    cursor: pointer;
    display: none;
    width: 36px;
    margin-left: 10px;
}
#toggle {
    display: none;
}
@media (max-width: 600px) {
    nav label {
        display: block;
    }
    #nav-bar {
        display: none;
    }
}
#toggle:checked + #nav-bar {
    display: block;
}
/*
    NAV BAR STYLING
*/
nav {
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px lightgray;

}
nav ul {
    padding: 0;
    display: flex;
    list-style: none;
}
nav ul li {
    text-align: center;
}
nav ul a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 25px;
}
nav ul a:hover {
    border-bottom: 1px solid black;
}
@media (min-width: 601px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        padding-left: 1em;
        padding-right: 1em;
    }
    #toggle:checked + #nav-bar {
        display: flex;
    }
}
/*
    NAVBAR HEADING
*/
#heading {
    font-size: 3rem;
    font-family: Caveat, sans-serif;
    position: absolute;
    left: 25%;
}
@media (min-width: 601px) {
    #heading {
        display: none;
    }
    /* changing the display position of nav items */
    nav ul {
        justify-content: center;
    }
}
@media (min-width: 775px) {
    nav ul {
        justify-content: flex-end;
    }
    #heading {
        display: block;
        left: 5%;
    }
} 
/*
    LANDING SECTION
*/
#landing {
    height: 100vh;
    background: lightgoldenrodyellow;
    background-image: url(img/bg.jpg);
    background-size: cover;
}
