html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
* {
    box-sizing: border-box;
}
main {
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown {
    padding: 1rem;
    background: snow;
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.dropdown__btn {
    font-size: 1.5rem;
    border: none;
    padding: .75rem 1.25rem;
    border-radius: 5px;
    background-image: repeating-linear-gradient(134deg, #78e0da, #78e0da 10px, #A7E2C6 10px, #A7E2C6 30px);
    font-weight: bold;
    color:rgba(0,0,0,0.8);
    transition: .3s ease;
    display: inline-block;
    cursor: pointer;
}
.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: snow;
    min-width: 200px;
    display: none;
}
.dropdown__menu a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
}
.dropdown__menu a:hover {
    background-color: pink;
}
.dropdown__menu a:not(:last-child) {
    border-bottom: 1px solid rgb(224, 224, 224);
}
/*  
    NOTE: 
    .dropdonw:hover is used not .dropdown__btn:hover    
*/

.dropdown:hover .dropdown__menu {
    display: block;
}

