* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.slide img {
    display: inline-block;
    vertical-align: middle;
}
.slide-content {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 2;
}
.slide:hover .slide-content{
    transform: translate(0, 0);
}
.slide-top .slide-content {
    transform: translate(0, -100%);
}
