$colors: (
    primary: #005dff,
    accent: #fff6bb
);

body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
    .bg {
        height: 100%;
        width: 100%;
        clip-path: polygon(100% 0, 100% 67%, 64% 100%, 0 100%, 0 0);
        background-color: map-get($colors, primary);
        // position: absolute;
        // z-index: -1;
    }
}
