@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --gradient1: linear-gradient(90deg,aqua,lightpink 80%);
    --gradient2: linear-gradient(to right, #2376ae, #c16ecf);
    --gray: rgb(83, 83, 83);
}
* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

/*
    NAV
*/
nav {
    background-image: var(--gradient2);
    padding: 2em 1em;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
nav ul li a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: black;
}
/*
    MAIN
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.034);
    padding: 1em;
    min-height: 90vh;
}
main img {
    width: 225px;
    border-radius: 50%;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about h1 {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}
.about p {
    font-size: 1.3rem;
    color: var(--gray);
    line-height: 2rem;
    padding-left: 0.5rem;

}
.about a {
    text-decoration: none;
    background: #2376ae;
    padding: 8px 16px;
    color: white;
    font-size: 1.2rem;
    border-radius: 1em;
    align-self: center;
    transition: color 0.3s ease;
}
.about a:hover {
    color: black;
    background: #c16ecf;
}
/*
    FOOTER
*/
footer {
    color: #ccc; /* light gray */
    padding-top: 2em;
    text-align: center;
    width: 100%;
    z-index: 1;
}
footer a .fa {
    font-size: 1.75rem;
    color: #999; /* dark gray */
    margin: 0 2.5px; 
    transition: color 0.3s ease
}
footer a .fa:hover {
    color: black; 
}
footer p {
    font-size: 0.9rem; 
}