@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Ubuntu');

:root {
    --gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    --gray: rgb(83, 83, 83);
    --navy-dark: #1e3046;
}
* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
/*
    NAV
*/
nav {
    background-image: var(--gradient);
    padding: 2em 1em;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
nav ul li a {
    font-size: 1.2rem;
    color: var(--gray);
    text-decoration: none;
}
/*
    NAV HOVER EFFECT
*/
nav ul li a {
    padding: 0.4em;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.4s;
}
nav ul li a:hover {
    color: black;
}
nav ul li a {
  position: relative;
}
nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* start from center */
  width: 0%;
  content: '';
  background: black;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
/*
    MAIN
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.034);
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    padding: 1em;
}
main img {
    width: 200px;
    border-radius: 50%;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about h1 {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--navy-dark);
}
.about p {
    font-size: 1.3rem;
    color: var(--gray);
    line-height: 2rem;
    padding-left: 1rem;

}
.about a {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--gray);
    font-size: 1.1rem;
    border-radius: 1em;
    align-self: center;
    transition: color 0.3s ease;
    background-image: var(--gradient)
}
.about a:hover {
    color: black;
}
/*
    FOOTER
*/
footer {
    color: #ccc; /* light gray */
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
    
}
footer a .fa {
    font-size: 1.75rem;
    color: #999; /* dark gray */
    margin: 0 2.5px; 
    transition: color 0.3s ease
}
footer a .fa:hover {
    color: var(--navy-dark); 
}
footer p {
    font-size: 1rem; 
}
/*
    MEDIA QUERIES: MEDIUM SIZE SCREENS
*/
@media (min-width: 800px) {
    .container {
        display: flex;
        height: 85vh;
    }
    nav {
        flex: 1 1 25%;
    }
    main {
        flex: 1 1 75%;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }
    nav ul li:not(:last-child) {
        margin-bottom: 2em;
    }
    nav ul li a {
        font-size: 1.4rem;
    }
    main {
        padding: 2em;
    }
    main img {
        width: 225px;
    }
    .about p {
        line-height: 1.75em;
    }
    .about a {
        font-size: 1.2em
    }
}
/*
    MEDIA QUERIES: LARGE SIZE SCREENS
*/
@media (min-width: 1000px) {
    nav {
        max-width: 20%;
        display: fixed;
        left: 0;
        top: 0;
        height: 100vh;
    }
    nav ul {
        margin-top: 4em;
    }
    nav ul li a {
        font-size: 1.6rem;
    }
    main {
        flex-direction: row-reverse;
    }
    main > * {
        margin: 1em;
    }
    main img {
        flex-basis: 1 0 30%;
        margin-top: -7em;
        width: 250px;
    }
    main .about {
        padding: 1em;
        flex-basis: 70%;
    }
    .about h1 {
        font-size: 4rem;
    }
    .about p {
        font-size: 1.6rem;
    }
    .about a {
        font-size: 1.25rem;
    }
} 