/* @import 'animation.css'; */

/*
    HEADER & NAV
------------------*/
header {
    padding: 4rem 1.25rem;
}
.nav-item {
    padding: 0 1.5rem;
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(6, 20, 44) !important;
}
@media (max-width: 991px) {
    header {
        padding: 1.25rem;
    }
    .nav-link {
        text-align: center;
    }
}
/*
    MAIN
---------------*/
@media (min-width: 992px) {
    main {
        margin-bottom: 5rem;
    }
}
.main__title {
    font-size: 40px;
    color: #000026;
    font-weight: 700;
    line-height: 1.4;
}
.main__subtitle {
    font-size: 1.25rem;
    color: #000026;
    line-height: 1.3;
}
@media (max-width: 991px) {
    .main__title {
        font-size: 30px;
        line-height: 1.1;
    }
}
.main__input {
    height: 45px;
    border-color: #66646f;
}
.main__input::placeholder {
    font-size: .9rem;
    color: rgb(173, 173, 173);
}
.main__btn {
    font-weight: 500;
    padding: 9px 20px;
    background: #2f65f9;
}

/*
    SECTION ONE
-----------------*/
.section-one {
    background: #f9f8fe;
}
.section-one__title {
    color: #0c083b;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}
@media (max-width: 575px) {
    .section-one__title {
        font-size: 30px;
        margin-top: 1.5rem;
    }
}
.section-one__desc {
    margin-top: 2rem;
    color: #0c083b;
    font-size: 1.1rem;
    font-weight: 400;
}
.section-one__link {
    display: inline-block;
    margin-top: .9rem;
    font-size: 1.1rem;
    padding-bottom: 3px;
    color: #3da08f;
    border-bottom: 1px solid #3da08f;
}
.section-one__link:hover {
    text-decoration: none;
    color: #1c7768;
}
.section-one__card {
    margin-top: 2rem;
    padding: 1.5rem;
    background: white;
    max-width: 375px;
    box-shadow: 1px 1px 5px rgb(219, 219, 219);
    border-radius: 5px;
    
}
.card__image img {
    display: block;
}
.card__text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #0c083b;
}
.card__author {
    display: flex;
    align-items: center;
}
.card__author__image img{
    width: 35px;
    border-radius: 50%;
}
.card__author__name {
    font-size: 0.7rem;
    font-weight: 700;
}
.card__author__title {
    font-size: 0.6rem;
}

/*
    SECTION TWO
-----------------*/
.section-two {
    background: #575989;
    color: white;
}
.section-two__title {
    font-size: 2rem;
    font-weight: 500;
}
.section-two__desc {
    font-size: 1.05rem;
    line-height: 1.5;
}
.custom-input {
    height: 50px;
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.3);
}
.custom-input::placeholder {
    font-size: 0.8rem;
    color: #b6b6b6;
}
.custom-btn {
    background: #2f65f9;
    padding: 12px 24px;
    color: white;
    font-weight: 700;
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.3);
}
.custom-btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

/*
    FOOTER
-------------*/
footer {
    background: #07043b;
    color: white;
    font-size: 1rem;
}
.footer__list {
    list-style: none;
}
.footer__list li:not(:first-child) {
    margin-top: 1rem;
}
.footer__list a {
    text-decoration: none;
    color: inherit;
}
.footer__list a:hover {
    color: gray;
}
@media(min-width: 992px) {
    .footer__list {
        padding-left: 7rem;
    }
} 