/*  Things Learned
1. form input:not(:last-child) {}
2. background-image: repeating-linear-gradient(
            45deg,
            #ff7979,
            #ff7979 10px,
            #eb4d4b 10px,
            #eb4d4b 20px
    );
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Lato|Roboto|Nova+Mono');
html {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin:0;
}
h3 {
    font-size: 2rem;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
    padding-bottom: 0.5em;
}
p {
    font-size: 1.2rem;
}
.wrapper {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 5em; /* padding: 100px; */
    color: #576574; /* color: #999; */
    width: 100vw;
    height: 100vh;
}
.block {
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    border-radius: 5px;
    background: whitesmoke;
}
/*
    FORM
*/
form input {
    width: 100%;
    padding: 0 1em;
    line-height: 2em;
    font-size: 1em;
    border: 1px solid #e6e6e6; /* will make the submit button same size as the other inputs*/ 
    border-bottom-width: 3px;
    border-radius: 5px;
    transition: all 0.5s ease;
    outline: none;
}
form input:not(:last-child) { /* selecting all inputs except the submit button*/
    margin-bottom: 2em;
}
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #576574;
}
form input[type="submit"] {
    cursor: pointer;
    background-color: #eb4d4b;
    background-image: repeating-linear-gradient(
            45deg,
            #ff7979,
            #ff7979 10px,
            #eb4d4b 10px,
            #eb4d4b 20px
    );
    border-color: #eb4d4b;
    color: whitesmoke;
    transition: all 0.5s ease;
}   
form input[type="submit"]:hover {
    background-color: #eb4d4b;
    background-image: repeating-linear-gradient(
            45deg,
            #eb4d4b,
            #eb4d4b 10px,
            #ff7979 10px,
            #ff7979 20px
    );
    transition: all 2s ease;
}